<p id="notice"><%= notice %></p>

<p>
  <strong>Technique:</strong>
  <%= @technique.technique %>
</p>

<%= link_to 'Edit', edit_technique_path(@technique) %> |
<%= link_to 'Back', techniques_path %>
