<div id="home">
	<h1>Home</h1>
<br><br>
<h1>The Museum of the Planet of the Apes</h1>
<br><br>
<div class="slideshow-container">
  <div class="mySlides fade">
    <img src="assets/pic1mus.jpg" style=" width:100%">
    <!-- <div class="text">Caption Text</div> -->
  </div>

  <div class="mySlides fade">
    <img src="assets/pic2mus.jpg" style="width:100%">
    <!-- <div class="text">Caption Two</div> -->
  </div>

  <div class="mySlides fade">
    <img src="assets/pic3mus.jpg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>
  <div class="mySlides fade">
    <img src="assets/pic4mus.png" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>
  <div class="mySlides fade">
    <img src="assets/pic5mus.jpg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>
  <div class="mySlides fade">
    <img src="assets/pic6mus.jpg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>
  <div class="mySlides fade">
    <img src="assets/pic7mus.png" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>
  <div class="mySlides fade">
    <img src="assets/pic8mus.jpeg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<script type="text/javascript" src="home.js"></script>
<br>
<div class="des">
<header style="font-size: 30px;">An Overview of the Museum</header>
<p>
The Museum of the Planet of the Apes is the world's largest and finest art museum. It's collection spans 5,000 years of world culture, from prehistory to the era of man to the present and from every part of the globe.
<br><br>
Founded in 3818, The Museum of the Planet of the Apes is located in New Ape City's Central Park along Fifth Avenue (from 80th to 84th Streets). Last year it was visited by 4.7 million people.
<br><br>
<b>Collection and Galleries</b><br>
The Museum's two-million-square-foot building has vast holdings that represent a series of collections, each of which ranks in its category among the finest in the world. The Aperican Wing, for example, houses the world's most comprehensive collection of Aperican paintings, sculpture, and decorative arts, presently including 24 period rooms that offer an unparalleled view of Aperican history and domestic life. The Museum's approximately 2,500 European paintings form one of the greatest such collections in the world—Rembrandts and Vermeers alone are among the choicest, not to mention the collection of Impressionist and Post-Impressionist canvases. Virtually all of the 36,000 objects constituting the greatest collection of Egyptian art outside Cairo are on display, while the Islamic art collection is one of the world's finest.
<br><br>

<b>Exhibitions</b><br>
The Museum of the Planet of the Apes presents more exhibitions than any art museum in the world. They include...
<br><br>
<b>Governance</b><br>
For more than a century the City of New Ape and the Trustees of The Museum of the Planet of the Apes have been partners in bringing the Museum's services to the public. The complex of buildings in Central Park is the property of the City, and the City provides for the Museum's heat, light, and power. The City also pays for approximately one-third the costs of maintenance and security for the facility and its collection. The collection itself is held in trust by the Trustees. The Trustees, in turn, are responsible for meeting all expenses connected with conservation, education, special exhibitions, acquisitions, scholarly publications, and related activities, including security costs not covered by the City. In addition, the State of New York provides valuable support through the New York State Council on the Arts.
</p>
</div>
<div class="des2">
<p>Featured art is examples of pieces found in our exibits ranging from war time art, contemporary works, and governmental pieces.</p><br>
<img src="assets/ape1.jpg" style="width: 300px;">
<br>
<img src="assets/ape3.jpg" style="width: 300px;align-content: center;">
</div>

</div>
