/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 

@font-face {
	font-family: "Planet of the Apes";
	src: font-url("Planet_Of_The_Apes.eot?") format("eot"),font-url("Planet_Of_The_Apes.woff") format("woff"),font-url("Planet_Of_The_Apes.ttf") format("truetype"),font-url("Planet_Of_The_Apes.svg#") format("svg");
	font-weight:normal;
	font-style:normal;
}
html{
	background-color: #000;
}
body{
	margin: 0;
}
.notice, .alert{
	position: absolute;
}
.row{
	text-align: center;
}

header{
	font-family: 'Planet of the Apes';
	background-color: maroon;
	padding: 20px 0 10px;
	width: 100%;
	text-shadow: 2px 2px 3px #222;
}

header h1{
	font-family: 'Planet of the Apes';
	line-height: 1.1em;
	text-align: center;
	color: #fff;
}

header .little{
	font-size: .3em;
	vertical-align: top;
}
header form{
	text-align: right;
}
#inline{
	display: inline-block;
	margin: 0 15px;
}
#inline input, #inline label{
	display: inline-block;
}
body input:-webkit-autofill {
	background-color: inherit;
	border: inherit;
	color: inherit;
}
#user_email, 
#user_password,
#user_email:-webkit-autofill,
#user_password:-webkit-autofill{
	background-color: rgba(255,255,255,0) !important;
	border:	none !important;
	border-bottom: 2px solid #fff !important;
	color: #fff !important;
	border-radius: 0;
	font-weight: bold;
}
#user_email::placeholder, #user_password::placeholder{
	color: #fff;
	font-family: 'Planet of the Apes'
}
header label{
	color: #fff;
	font-size: .8em;
}
header a{
	font-size: .6em;
	color: #fff;
	display: inline-block;
	margin: 0 10px;
}
header a:visited, header a:link{
	color: #fff;
}
#sharedlinks{
	text-align: right;
}
header nav{
	color: #fff;
	display: inline-block;
	font-family: 'Planet of the Apes';
	text-align: center;
}
nav ul{
	list-style: none;
	display: inline-block;
	font-family: 'Planet of the Apes';
	text-align: center;
}
nav li{
	display: inline-block;
	margin: 5px 15px;
	padding: 5px;
}
nav li:hover{
	background-color: #fff;
	color: maroon;
	transition-duration: .4s;
}
#explore{
	display: inline-block;
	position: relative;
}
#explorelst{
	display: none;
	position: absolute;
	background-color: maroon;
	z-index: 1;
	left: 0;
	padding: 10px;
}
#explorelst li{
	display: block;
}
#explorebtn{
	display: block;
}
#explore:hover #explorelst{
	display: block;
	transition-duration: 3s;
}