// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
<<<<<<< HEAD
=======
#location{
	.piece{
		height: 200px;
		width: 200px;
		display: inline-block;
		background-size: cover;
	}
}
>>>>>>> 68109f39247bd4cdf3856ef55e3397995a3af0b1
